.card {
    width: 18rem;
}

.allColumns {
    color: #834333;
    display: flex;
    /*border: solid yellow 3px;*/
    width: 100%;
    overflow-x: auto;
}

/*.column {
    border: solid black 3px;
}*/

.titleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 19rem;
    height: 5rem;
    /*border: solid blue 3px;*/
}

.allCards {
    overflow-y: auto;
    height: 100vh;
    /*border: solid red 3px;*/
}

.columnName {
    margin-left: 10px;
}

.card {
    border-radius: 15px;
    margin: 10px;
}

.newCardBtn {
    margin-left: 10px;
    margin-right: 10px;
}

.editBtn {
    margin-top: 10px;
}

.deleteBtn {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

#threeDots {
    background-color: #F1ECE4;
    color: #834333; 
    padding-bottom: 22px;
    font-size: 25px;
    border: none;
}

.show>.btn-warning.dropdown-toggle {
    color: white;
    background-color: orange;
    border-color: orange;
}

.dropdown-toggle::after {
    content: none;
}