.navigation {
    background-color: white;
    border-radius: 15px;
    margin: 10px 0 10px 10px;
    border: 1px solid rgba(0,0,0,.125);
}

.image {
    margin: 10px;
}

.nav {
    /*border: solid black 3px;*/
    height: 100vh;
    /*margin: 10px;*/
}

.nav-link {
    color: #834333;
    margin: 8px;
}

.nav-link:hover {
    color: #834333;
}

.nav-item > .nav-link.active {
    background-color: orange;
    color: white;
}

.btn-outline-primary {
    color: #834333;
    border-color: #834333;
    margin: 8px;
}

.btn-outline-primary:hover {
    background-color: orange;
    border-color: orange;
}