.nav {
    /*position: absolute;*/
    width: 20%;
    height: 100%;
}

.nav-link {
    color: #834333;
}

.nav-link:hover {
    color: #834333;
}

.nav-item > .nav-link.active {
    background-color: orange;
    color: white;
}

.btn-outline-primary {
    color: #834333;
    border-color: #834333;
}

.btn-outline-primary:hover {
    background-color: orange;
    border-color: orange;
}