.navigation {
    background-color: white;
    border-radius: 15px;
    margin: 10px 0 10px 10px;
    border: 1px solid rgba(0,0,0,.125);
}

img {
    width: 75%;
    margin-left: 12%;
    margin-top: 5%;
}

.nav {
    /*border: solid black 3px;*/
    height: 65vh; /*keeps page from getting too long*/
    /*margin: 10px;*/
}

.nav-link {
    color: #834333;
    margin: 8px;
}

.nav-link:hover {
    color: #834333;
}

.nav-item > .nav-link.active {
    background-color: orange;
    color: white;
}

.btn-outline-warning {
    color: #834333;
    border-color: #834333;
    margin: 8px;
}

.btn-outline-warning:hover {
    background-color: orange;
    border-color: orange;
    color: white;
}